

.fixme1 img {
  display: flex;
  width: 200px;
}

.fixme2 {
  display: flex;
  font-size: 300%;
}
div {
  padding-right: 1rem;
}

.fixme3 {
  background-color: yellow;
  list-style-type: none;
  text-align: center;
  padding: 2rem;
  margin: 3rem 0 0 0;
}

.fixme3 li {
  display: inline;
  font-size: 20px;
  padding: 20px;
}
